{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>To będzie strona główna, a poniżej są linki do nagłowka, formularz wizyty bedzie na oddzielnej podstronie,
    w nagłowku powinien sie znalesc po prawej stronie "Zarezerwuj wizytę", jezeli któreś ze stron maja byc usuniete dajcie znac
     bo trzeba usunac controlery i widoki tych stron.</h1>
    <a href="{{ path('customer_new') }}">Zarezerwuj wizytę</a>
    <a href="{{ path('news') }}">Aktualności</a>
    <a href="{{ path('offer') }}">Oferta</a>
    <a href="{{ path('serwis') }}">Serwis</a>
    <a href="{{ path('lakiernia') }}">Lakiernia</a>
    <a href="{{ path('myjnia') }}">Myjnia</a>
    <a href="{{ path('about_us') }}">O nas</a>
    <a href="{{ path('contact') }}">Kontakt</a>
    <a href="{{ path('blog') }}">Blog</a>


</div>
{% endblock %}
